<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="file:///I:/Projects/Personal/kevans_scripts/web_hobbies/static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Hobby Site</h2>
        <pre>
Welcome, this site was created by <a href="https://www.linkedin.com/in/kevan-pigott/">Kevan Pigott</a> as an example implementation
of a internal website for connecting employees with similar hobbies. The content is hosted on an AWS EC2 instance, served using Flask, and stored in a normalized SQL database.
Hobbies are compared using a <a href="https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2">sentence-transformer model</a>. Passwords are hashed using <a href="https://en.wikipedia.org/wiki/Bcrypt">Bcrypt</a>.
This serves as a demonstration of my theorized approach. As this site and server were created over a weekend, there are some known areas for improvement. These areas include security improvements, input sanitization, and styling. 

The code for this site can be found on github at <a href="https://github.com/kevanpigott/web_hobbies">github.com/kevanpigott/web_hobbies</a>
        </pre>
        <p>Please choose an option below:</p>
        <a class="btn" href="/login">Login</a>
        <br>
        <a class="btn" href="/register">Create an Account</a>
    </div>
    {% include 'footer.html' %}
</body>
</html>
