<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}'s Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="container">
        <h2>{{ user.username }}'s Profile</h2>
        <p><strong>Email:</strong> {{ user.email }}</p>

        <h3>{{ user.username }}'s Hobbies:</h3>
        <ul>
            {% for hobby in hobbies %}
            <li><a href = "/hobby/{{ hobby.id }}">{{ hobby.name }}</a></li>
            {% endfor %}
        </ul>

        <a class="btn" href="/home">Back to Home</a>
    </div>
    {% include 'footer.html' %}
</body>
</html>
